.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.header button {
  margin: 5px;
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  width: 150px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 30px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.header input {
  margin: 5px;
  background-color: rgb(255, 255, 255);
  color: black;
  height: 30px;
}

.container {
  width: 400px;
  height: 70px;
  margin: 0px 20px 0px 20px;
  background-image: url('./background2.svg');
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  text-align: center;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 90vh;
  overflow-y: scroll;
  margin-top: 20px;
  margin-bottom: 50px;
  filter: drop-shadow(0 0 10px white);
}

.main-container {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 0px 20px;
  width: 400px;
  height: 300px;
}

.main {
  width: 400px;
  height: auto;
  position: relative;
}

.main img {
  object-fit: contain;
  width: 400px;
}

.sub {
  object-fit: contain;
  height: 250px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  z-index: -999;
}

.main-container2 {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: -10px 20px 0px 20px;
  width: 400px;
  height: 200px;
}

.main2 {
  width: 400px;
  height: 200px;
  position: relative;
  background-image: url('./background.svg');
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
}

.sub2 {
  width: 400px;
  height: 200px;
  position: absolute;
  left:0px;
  top:0px;
  z-index: -999;
  background-color: rgba(255, 255, 255, 0.548);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.main-container3 {
  position: relative;
  display: flex;
  flex-direction: ow;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 20px 20px;
  width: 400px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.808);
  color: white;
}

.main-container3 div {
  margin: 5px;
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  width: 150px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}